@model CanamDistributors.Models.CollectionRequestModel

@{
    ViewData["Title"] = "Add Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">Create Collection</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create Collection
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("SaveCollection", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            <label for="Category">Title</label>
                            <input type="text" asp-for="Category" class="form-control" placeholder="e.g Summer Collection, Under $100, Staff picks" autofocus="true" required />
                        </div>
                        <div class="form-group">
                            <label for="ProoductConditions">Description</label>
                            <textarea asp-for="ProoductConditions" class="form-control" placeholder="Enter product conditions or description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="CategoryImages">Images</label>
                            <div class="file-input">
                                <input type="file" id="fileElem" name="CategoryImages" accept="image/*" multiple />
                                <span>Select files</span>
                            </div>
                            <div id="gallery" style="margin-top: 10px; display: flex; flex-wrap: wrap;"></div>
                        </div>
                        <div class="form-group">
                            <label for="ProductList">Products</label>
                            <select class="form-control" multiple="multiple" asp-for="ProductList" name="ProductList">
                                @foreach (var item in ViewBag.ProductList)
                                {
                                    <option value='@item.Id,@item.Name'>@item.Name</option>
                                }
                            </select>
                        </div>
                        <button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>








